In [1]:
import numpy as np
import pandas as pd

#### 주요 속성 및 함수

In [2]:
s = pd.Series([1, 2, 3, 1, 2, 3, np.NaN, 4, 5, 4, 5, 6])
s

0     1.0
1     2.0
2     3.0
3     1.0
4     2.0
5     3.0
6     NaN
7     4.0
8     5.0
9     4.0
10    5.0
11    6.0
dtype: float64

In [3]:
# 개수(NaN포함)
s.size

12

In [4]:
len(s)

12

In [5]:
s.shape

(12,)

In [6]:
# unique : 유일 값만 반환
s.unique()

array([ 1.,  2.,  3., nan,  4.,  5.,  6.])

In [7]:
# count : 개수(NaN 제외)
s.count()

11

In [8]:
# mean : 평균(NaN 제외)
# (1 + 2 + 3 + 1 + 2 + 3 + 4 + 5 + 4 + 5 + 6)/11
s.mean()

3.272727272727273

In [9]:
# ndarray는 nan 반환
arr = np.array([1, 2, 3, 1, 2, 3, np.NaN, 4, 5, 4, 5, 6])
arr.mean()

nan

In [10]:
# value_counts() : 각 값의 중복 횟수(NaN 제외)
s.value_counts()

1.0    2
2.0    2
3.0    2
4.0    2
5.0    2
6.0    1
dtype: int64

In [11]:
s.head()

0    1.0
1    2.0
2    3.0
3    1.0
4    2.0
dtype: float64

In [12]:
s.head(3)

0    1.0
1    2.0
2    3.0
dtype: float64

In [13]:
s.tail()

7     4.0
8     5.0
9     4.0
10    5.0
11    6.0
dtype: float64

In [14]:
s.tail(3)

9     4.0
10    5.0
11    6.0
dtype: float64

#### 연산
- index : index 값이 같은 것만 연산, 그렇지 않으면 NaN

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([6, 7, 8, 9, 10], ['c', 'd', 'e', 'f', 'g'])
print(s1)
print(' ')
print(s2)

In [16]:
# index가 동일한 값만 연산
s1 + s2

a     NaN
b     NaN
c     9.0
d    11.0
e    13.0
f     NaN
g     NaN
dtype: float64

- 스칼라

In [17]:
s1 + 5

a     6
b     7
c     8
d     9
e    10
dtype: int64

In [18]:
s1 - 5

a   -4
b   -3
c   -2
d   -1
e    0
dtype: int64