### DataFrame
- Series가 모여서 행과 열(또는 2차원) 형태를 이룬 Data
- index도 row, column 각각 존재

In [1]:
import numpy as np
import pandas as pd

#### 생성
- Series
- dictionary

```
dictionary -> Series -> DataFrame
dictionary ----------> DataFrame
- dictionary로 Series를 만들 수 있고 여러 개의 Series로 DataFrame를 만듬
- dictionary에서 바로 DataFrame를 만들 수 있음
```

- Series

In [ ]:
# Series
s1 = pd.Series([1, 2, 3], ['a', 'b', 'c'])
s2 = pd.Series([4, 5, 6], ['a', 'b', 'd'])
s3 = pd.Series([7, 8, 9], ['a', 'b', 'e'])

print(s1)
print(' ')
print(s2)
print(' ')
print(s3)

In [3]:
# index 없이 만들기 => 0을 시작으로 하는 index가 자동 생성
df = pd.DataFrame([s1, s2, s3])
df

     a    b    c    d    e
0  1.0  2.0  3.0  NaN  NaN
1  4.0  5.0  NaN  6.0  NaN
2  7.0  8.0  NaN  NaN  9.0

In [4]:
# index 지정
df = pd.DataFrame([s1, s2, s3], index=['가', '나', '다'])
df

     a    b    c    d    e
가  1.0  2.0  3.0  NaN  NaN
나  4.0  5.0  NaN  6.0  NaN
다  7.0  8.0  NaN  NaN  9.0

- Dictionary

In [13]:
dic = {
    'a': [1, 2, 3],
    'b': [4, 5, 6],
    'c': [7, 8, 9],
} 
dic

{'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]}

In [14]:
# index 없이 만들기 => 0을 시작으로 하는 index가 자동 생성
df = pd.DataFrame(dic)
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [15]:
# index 지정
df = pd.DataFrame(dic, index = ['가', '나', '다'])
df

   a  b  c
가  1  4  7
나  2  5  8
다  3  6  9

#### DataFrame : index, columns, values

In [16]:
df = pd.DataFrame(
    {
    '철수' : [90, 85, 73],
    '영희' : [95, 90, 97], 
    '길동' : [80, 85, 90] 
    },
    index=['국어', '영어', '수학']
)
df

    철수  영희  길동
국어  90  95  80
영어  85  90  85
수학  73  97  90

In [17]:
# index
df.index

Index(['국어', '영어', '수학'], dtype='object')

In [18]:
# columns
df.columns

Index(['철수', '영희', '길동'], dtype='object')

In [22]:
# values
df.values

array([[90, 95, 80],
       [85, 90, 85],
       [73, 97, 90]], dtype=int64)

In [25]:
# index.name -> index의 명
df.index.name

In [26]:
df.index.name = '과목'
df

    철수  영희  길동
과목
국어  90  95  80
영어  85  90  85
수학  73  97  90

In [27]:
df.index.name

'과목'