In [1]:
#import pymongo
from pymongo import MongoClient

In [2]:
#client = MongoClient('localhost', 27017)
client = MongoClient('mongodb://localhost:27017')

In [3]:
db = client.test_database
db = client['test_database']

In [4]:
collection = db['test_collection']

+ insert_ont: 한 건 입력

In [7]:
data_dic = {'name':'홍길동', 'age':17}

In [8]:
re_data_dic = collection.insert_one(data_dic)

In [9]:
print(re_data_dic)
re_data_dic.inserted_id

<pymongo.results.InsertOneResult object at 0x000002029146CA80>

ObjectId('6168ea9bea63b3e84943bcdb')

In [10]:
data_dic2 = {'name':'김길동', 'age':15}

In [11]:
re2= collection.insert_one(data_dic2)

In [12]:
data_list = [
    {'name':'이길동', 'age':25},
    {'name':'박길동', 'age':31},
    {'name':'정길동', 'age':35}
]

In [13]:
re_3 = collection.insert_many(data_list)

In [14]:
re_3.inserted_ids

[ObjectId('6168ed8eea63b3e84943bcdd'),
 ObjectId('6168ed8eea63b3e84943bcde'),
 ObjectId('6168ed8eea63b3e84943bcdf')]

find_one,find

In [15]:
sr1 = collection.find_one()
sr1

{'_id': ObjectId('6168ea9bea63b3e84943bcdb'), 'name': '홍길동', 'age': 17}

In [16]:
sr2 = collection.find()
sr2

In [17]:
for sr2_item in sr2:
    print(sr2_item)

{'_id': ObjectId('6168ea9bea63b3e84943bcdb'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6168ed2bea63b3e84943bcdc'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed8eea63b3e84943bcdd'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed8eea63b3e84943bcde'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed8eea63b3e84943bcdf'), 'name': '정길동', 'age': 35}

참조자료 : https://sikaleo.tistory.com/51
+ 조건

In [21]:
# where name='홍길동'
srs = collection.find({'name':'홍길동'})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea9bea63b3e84943bcdb'), 'name': '홍길동', 'age': 17}

In [22]:
#where name='홍길동' and age=17
srs = collection.find({'name':'홍길동','age':16})
for sr in srs:
    print(sr)

In [24]:
#where and age>=17
srs = collection.find({'age':{'$gte':17}})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea9bea63b3e84943bcdb'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6168ed8eea63b3e84943bcdd'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed8eea63b3e84943bcde'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed8eea63b3e84943bcdf'), 'name': '정길동', 'age': 35}

In [25]:
#select name from collection where and age>=17
srs = collection.find({'age':{'$gte':17}},{'name':1, '_id':0})
for sr in srs:
    print(sr)

{'name': '홍길동'}
{'name': '이길동'}
{'name': '박길동'}
{'name': '정길동'}

- update_one,update_many

In [27]:
collection.update_one({'name':'홍길동'},{'$set':{'age':18}})

In [32]:
srs= collection.find({'name':'홍길동'})
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ea9bea63b3e84943bcdb'), 'name': '홍길동', 'age': 18}

#나이가 30보다 많은 사람의 나이를 31로 update 하세요

In [33]:
collection.update_many({'age':{'$gte':30}},{'$set':{'age':31}})

In [39]:
srs = collection.find({'age':{'$gte':30}},{'name':1, '_id':0 ,'age':1})
for sr in srs:
    print(sr)

{'name': '박길동', 'age': 31}
{'name': '정길동', 'age': 31}

delete,delete_many

In [40]:
collection.delete_one({'name':'홍길동'})

In [41]:
srs=collection.find()
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ed2bea63b3e84943bcdc'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed8eea63b3e84943bcdd'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6168ed8eea63b3e84943bcde'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6168ed8eea63b3e84943bcdf'), 'name': '정길동', 'age': 31}

In [43]:
collection.delete_many({'age':{'$gte':31}})

In [44]:
srs=collection.find()
for sr in srs:
    print(sr)

{'_id': ObjectId('6168ed2bea63b3e84943bcdc'), 'name': '김길동', 'age': 15}
{'_id': ObjectId('6168ed8eea63b3e84943bcdd'), 'name': '이길동', 'age': 25}